body {
  margin: 0;
  font-family: Arial;
  background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
  color: white;
  text-align: center;
}

.container {
  padding: 20px;
}

.search-box {
  margin: 20px;
}

input {
  padding: 10px;
  border-radius: 20px;
  border: none;
  width: 200px;
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  background: orange;
  color: white;
  cursor: pointer;
}

.weather-card {
  margin: 20px auto;
  padding: 20px;
  width: 200px;
  border-radius: 20px;
  background: rgba(255,255,255,0.1);
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 150px);
  gap: 15px;
  justify-content: center;
}

.box {
  padding: 15px;
  border-radius: 15px;
  background: rgba(255,255,255,0.1);
}